<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ics.likeplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FurtherActivity.PlayMp3VideoActivity"></activity>
        <activity
            android:name=".FurtherActivity.PlayVideoActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges=
                "screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
<!--            <layout android:defaultHeight="500dp"-->
<!--                android:defaultWidth="600dp"-->
<!--                android:gravity="top|end"-->
<!--                android:minHeight="450dp"-->
<!--                android:minWidth="300dp" />-->


        </activity>
        <activity
            android:name=".FurtherActivity.AllVideoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".FurtherActivity.AllMp3Activities"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            ></activity>
        <activity
            android:name=".Basic.SplashAct"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>